@media screen and (min-width: 768px) and (max-width: 992px) {
    section.corpo{
        width: 60vw;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { 
    section.corpo{
        width: 670px;
    }
}

@media screen and (min-width: 1200px) { 
    section.corpo{
        width: 750px;
    }
  
}